<!-- Content that appears in the footer. NOTE: javascript files are loaded in js-importer.html  -->

<div id="lgx-footer" class="lgx-footer">
        <div class="lgx-footer-middle"> <!--lgx-footer-middle-white-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="lgx-footer-single">
                            <a class="logo" href="/"><img src="/assets/images/hocc_logo.jpg"" alt="Logo" class="img-responsive"></a>
                        </div>
                    </div>
                </div> <!-- /CONTAINER -->
                <div class="lgx-footer-bottom">
                    <ul class="list-inline lgx-social-footer">
                        <li><a href="{{ site.data.routes.facebook }}"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="{{ site.data.routes.instagram }}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>