<!-- Content that appears in the footer. NOTE: javascript files are loaded in js-importer.html  -->

<div id="lgx-footer" class="lgx-footer">
    <div class="lgx-footer-middle">
        <!--lgx-footer-middle-white-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="logo" href="/humansofcentrecollege/"><img src="{{ site.baseurl }}/assets/images/hocc_logo.jpg"" alt=" Logo" class="img-responsive"
                            width="180" height="120"></a>
                    <a href="https://www.humansofnewyork.com/" class="btn btn-link hidden-xs" role="button">Humans of New York</a>
                    <ul class="list-inline lgx-social-footer">
                        <h3 style="color: white;">Follow us!   </h3>
                        <li><a href="{{ site.data.routes.facebook }}"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="{{ site.data.routes.instagram }}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="lgx-footer-bottom">
                <!-- Add border line -->
            </div>
        </div>
        <!-- //.footer Middle -->
    </div>