<!-- Loaded at the end for optimal load times -->
<!-- JQUERY  -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- JQUERY ISOTOPE, alumni page-->
<script src="/assets/js/vendor/jquery.isotope.min.js"></script>
<script src="/assets/js/vendor/jquery.imagesloaded.min.js"></script>
<script src="/assets/js/isotope-custom.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>

<script src="/assets/libs/jquery.smooth-scroll.js"></script>

<!-- SKILLS SCRIPT  -->
<script src="/assets/libs/jquery.validate.js"></script>

<!-- adding magnific popup js library -->
<script src="/assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- Owl Carousel  -->
<script src="/assets/libs/owlcarousel/owl.carousel.min.js"></script>

<!-- PORTFOLIO FILTER   -->
<script src="/assets/libs/isotope/isotope.pkgd.min.js"></script>

<!-- SMOOTH SCROLL -->
<script src="/assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="/assets/libs/jquery.easing.min.js"></script>

<!-- type js -->
<script src="/assets/libs/typed/typed.min.js"></script>


<!-- Animate on scroll -->
<script src="/assets/libs/aos/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- Lazy image load script, by yours truly-->
<script src="/assets/js/lazy-load-images.js" async></script>