<!-- Main navigational bar for pages -->
  <nav class="navbar navbar-fixed-top navbar-inverse" style="background: rgba(26, 26, 26, 0.9);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 20px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h3 style="color: white;" id="nav-header-text">
          Humans of Centre College
        </h3>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;">
          <li>
            <a href="{{ site.data.routes.home }}" role="button">Home</a>
          <li>
          <li>
            <a href="{{ site.data.routes.stories }}" role="button">Stories </a>
          </li>
          <li><a href="{{ site.data.routes.request }}" role="button">Request </a>
          </li>
          <li><a href="{{ site.data.routes.centre }}" role="button">Centre </a>
          </li>
          <li><a href="{{ site.data.routes.about }}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
