<!-- Main navigational bar for pages -->
<nav class="navbar navbar-fixed-top navbar-inverse" style="background: rgba(26, 26, 26, 0.9);">
  <div class="container">
    <div class="row">
    <a class="navbar-brand" href="{{ site.baseurl }}{{site.data.routes.home}}" style="position:relative;">
      <img src="{{ site.baseurl }}/assets/images/opaque_logo.png" width="86px" height="46px" class="d-inline-block align-top" id="logo">
    </a>
    <h3 style="color: white;" id="nav-header-text-large" style="position:relative;">
      Humans of Centre College
    </h3>
    <h3 style="color: white;" id="nav-header-text-abv" style="position:relative;">
      Humans of Centre
    </h3>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 20px;">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="{{ site.baseurl }}{{ site.data.routes.home }}" role="button">Home</a>
        <li>
        <li>
          <a href="{{ site.baseurl }}{{ site.data.routes.stories }}" role="button">Stories </a>
        </li>
        <li><a href="#form-modal" role="button" data-toggle="modal" data-target="#form-modal">Suggest </a>
        </li>
        <li><a href="{{ site.data.routes.centre }}" role="button">Centre </a>
        </li>
        <li><a href="{{ site.baseurl }}{{ site.data.routes.about }}">About</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>

{% include {{ site.baseurl }}_includes/modal-form.html %}
