
.lgx-footer {
  background: #1a1a1a;
  color: $white-color;
  text-align: center;

  img {
    padding-bottom: 1em;
    float: left;
  }
}

.lgx-footer-middle {
  padding-top: 2em;

  .lgx-social-footer {
    float: right;
    width: 40%;
    bottom: 0;
    right: 0;
    position: absolute;

    li {
      padding-right: 5px;
      padding-left: 10px;
      @include transition-duration($duration: 0.3s);
      a {
        color: $footer-text;
        @include transition-duration($duration: 0.3s);
        i {
          font-size: 2.4rem;
          opacity: .7;
        }
      }
      &:hover {
        a {
          color: $white-color;
          i {
            opacity: 1;
          }
        
        }
      }
    }

  }
  
}

.lgx-footer-bottom {
  border-top: 2px solid #444;
  padding-top: 2.4rem;
}

.btn-link {
  float: left;
  bottom: 0;
  left: 195px;
  position: absolute;
  
}