#nav-header-text-large {
    margin-bottom: -42px;
    @include screen-xs {
        display: none
    }
    @include screen-md {
        font-size: 18px;
    }
}

#nav-header-text-abv {
    margin-bottom: -56px;
    font-size: 20px;
    margin-left: 10px;

    @include screen-lg {
        display: none;
    }
    @include screen-max {
        display: none;
    }
    @include screen-md {
        display: none
    }
}

.navbar-collapse {
    @include screen-xs {
    margin-top: 62px;
    }
}

#logo {
    @include screen-xs {
        width: 43px;
        height: 23px;
        margin-top: 12px;
    }
}

#suggest-form {
    position: relative;
    right: 36px;
    @include screen-xs {
        width: 320px;
        left: 12px;
    }
}