#about {
  h3 {
    text-align: center;
    //color: goldenrod;
  }
  h1 {
    text-align: center;
  }

  #about-us {
    margin-top: 120px;
    font-size: 7.5rem;
    @include screen-xs {
      font-size: 6rem;
    }
    
  }

  #sga {
    display: block;
    width: 323px;
    height: 174px;
    margin-top: 40px;

    //animation code below
    position: relative;
    opacity: 0;
    -webkit-animation: slideIn 1s forwards;
    -moz-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
    -webkit-animation-delay: .25s;
    -moz-animation-delay: .25s;
    animation-delay: .25s;

    @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
    }
    @-moz-keyframes slideIn {
        0% {
        transform: translateY(-100px);
        opacity: 0;
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }
    @keyframes slideIn {
        0% {
        transform: translateY(-100px);
        opacity: 0;
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }
  }

  #top-text {
    margin-top: 60px;

    //animation code below
    position: relative;
    opacity: 0;
    -webkit-animation: slideIn 1s forwards;
    -moz-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    animation-delay: 1.25s;

    @-webkit-keyframes slideIn {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
    }
    @-moz-keyframes slideIn {
        0% {
        transform: translateY(-100px);
        opacity: 0;
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }
    @keyframes slideIn {
        0% {
        transform: translateY(-100px);
        opacity: 0;
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }
  }

  #meet-team {
    margin-top: 80px;
  }

  .profile {
      width: 240px;
      height: 300px;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  }

  .center-block {
    @include screen-max {
      display: initial;
    }
    @include screen-lg {
      display: initial;
    }
    @include screen-sm {
      display: initial;
    }
    @include screen-sm {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #info {
    @include screen-max {
      margin-right: 110px;
    }
    @include screen-lg {
      margin-right: 55px;
    }
    @include screen-md {
      margin-bottom: 40px;
    }
    @include screen-sm {
      margin-bottom: 40px;
    }
    @include screen-xs {
      margin-bottom: 40px;
    }

  }

  #bottom-link {
    margin-top: 30px;
    margin-bottom: 30px;
    
    h3 {
      color: #1a1a1a;
    }
  }

  #profile-row {
    margin-top: 25px;
  }

  #suggest {
    margin-top: 80px;
  }

  hr {
    border:none;
    border-top:4px dotted goldenrod;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:75%;
    margin-top: 20px;
  }
}

