#home {
    .jumbotron {
        background-image: url("/assets/images/10252013_Campus_00311-overlay.jpg");
        background-size: cover;
        height: 650px;
    }
    .display-1 {
        color: white;
        margin-top: 100px;
    }
    .btn {
        background: #1a1a1a;
        border-color: #404040;
    }

    .btn-primary:hover {
        background: #262626;
    }


    #info-paragraph {
        font-family: 'Merriweather';
    }
}
